{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for operation in data %}
                <tr>
                    <td class="text-start">{{ operation["symbol"] }}</td>
                    <td class="text-end">{{ operation["shares"] }}</td>
                    <td class="text-end">{{ operation["price"] | float | usd }}</td>
                    <td class="text-end">{{ operation["date"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}